SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_ORDER_URL=
SQUARE_API_HOST=https://connect.squareup.com
SQUARE_API_VERSION=2026-08-19
FLASK_SECRET_KEY=change-me-in-production
ORDER_DB_PATH=/home/rayarest/rayaweb/instance/raya-orders.db
RAYA_ADMIN_USERNAME=admin
RAYA_ADMIN_PASSWORD=
RAYA_USER_USERNAME=user
RAYA_USER_PASSWORD=
